* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(245, 122, 100);
}
header {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.textura {
  height: 150px;
  margin-left: 10%;
  text-align: center;
}
.textura img {
  width: 20%;
  height: 100%;
  padding: 10px;
}
#textura-meio {
  width: 50%;
}

.menu {
  padding: 20px;
  margin: 20px 5px 20px 5px;
}
.menu > ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
li a {
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}
li a:hover {
  background-color: rgb(224, 224, 42);
  border-radius: 5px;
}

h1 {
  color: black;
  text-align: center;
}
