* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(245, 122, 100);
  padding: 220px;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(245, 122, 100);
  width: 100%;
}
.textura {
  height: 150px;
  text-align: center;
}
.textura img {
  width: 20%;
  height: 100%;
  padding: 5px;
}
#textura-meio {
  width: 50%;
}

.menu {
  margin: 20px 5px 20px 5px;
}
.menu > ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}
li a {
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}
li a:hover {
  background-color: rgb(224, 224, 42);
  border-radius: 5px;
}

h1 {
  color: black;
  text-align: center;
}
@media only screen and(max-width:700px) {
  body {
    text-align: left;
    padding: 0;
  }
}
